*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.div-child {
  background-color: blueviolet;
  border: solid 1px black;
}

.div-child.hovered {
  background-color: rgb(223, 167, 235);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  /* gap: 1em; */
  flex-wrap: wrap;
  /* padding: 2em; */
}
